<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780170256531-3p9a4ts90bpdeh3q4unp7j9goo3qvql3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780170256531-3p9a4ts90bpdeh3q4unp7j9goo3qvql3</string>
	<key>API_KEY</key>
	<string>AIzaSyAGLaCX5MqldXfriGZxRtJ4JhkDCi3lF1E</string>
	<key>GCM_SENDER_ID</key>
	<string>780170256531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Max.HKWildlifeIndex</string>
	<key>PROJECT_ID</key>
	<string>hkwi-abdd7</string>
	<key>STORAGE_BUCKET</key>
	<string>hkwi-abdd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:780170256531:ios:cd8c5784080b93f4c86d66</string>
</dict>
</plist>
